* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "outfit", "Young serif", sans-serif;
  background-color: #f3e5d7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 96px 352px;
}

.recipe-card {
  display: flex;
  width: 736px;
  flex-direction: column;
  padding: 40px;
  border-radius: 24px;
  background-color: #fff;
  gap: 40px;
}

.image {
  height: 300px;
  border-radius: 12px;
}

.text-container-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main-header {
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  font-size: 40px;
  font-family: "young serif";
  color: #312e2c;
}

.main-header p {
  color: #5f564d;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-family: "Outfit";
}

.preparation-time-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 12px;
  background: #fff7fb;
  padding: 24px;
}
.steps-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  padding-left: 24px;
}

.ingredients-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-self: stretch;
  align-items: flex-start;
}

.ingredients-section h2 {
  color: #854632;
  font-family: "Young Serif";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-self: stretch;
  align-items: flex-start;
  padding-left: 24px;
}
